[2020-06-30 17:37] ultrasound1372 opened #1 "2020-07 - Roots"
If you have any words you would like added to the root dictionary, please comment below. If the word has US and UK spellings that are different but should be pronounced the same in American English, please include both. All entries if possible should be as a general American English accent would say it. Post your words here, and if you can applicable pronunciations. These can either be in eloquenc

[2020-06-30 17:39] ultrasound1372 opened #2 "2020-07 - Main"
Same general rules as roots dictionary. In most cases, words that have both a single and a plural form which is a simply modified version of the singular form can be parsed correctly, but not always. In this dictionary, however, the parsing is done on the whole word. This dictionary can contain entries that would not be valid in the root dictionary, though the rules are only slightly more relaxed,

[2020-07-01 22:11] ultrasound1372 commented on #1
I propose the word solenoid (/ˈsoʊlənɔɪd/ according to Wikipedia, this may be British IPA. IDK, can't read it. I think it's something along the lines of soalenoid?

[2020-07-02 01:06] jaybird110127 commented on #1
Here are some entries, some have a comment before them starting with # to explain why they're there.
beautician	`[.0byu.1tIS.0xn]
# Alex, host of Jeopardy!
trebek	`[.0trX.1bEk]
# The service you use to find info about domain registrations
whois	`[.1hu.0Iz]
# Nick
giannak	`[.1JAn.0Xk]
# Classic interactive fiction/text adventure company from the 80's. Responsible for Zork and many others
infocom	`[

[2020-07-02 01:40] thunderdrop commented on #1
Done (849ae32). The default appears to be British pronunciation, weirdly.

[2020-07-02 01:41] thunderdrop commented on #1
Done (849ae32). The default appears to be British pronunciation, weirdly.

[2020-07-02 01:50] thunderdrop commented on #1
@jaybird110127 Wow, this is brilliant, thanks for your the submissions! Have to check standard pronunciations for 1 or 2 things, and will leave those abbreviations for their own dictionary for now, but most of these should be in there. Keep an eye out and open an issue if you notice something amiss.

Thanks for taking the time!

[2020-07-02 03:07] ultrasound1372 commented on #1
I say we should exclude 6502, uofl, that should be an NVDA dictionary thing since there's so many and they may overlap, yankovic and louisville already work, possibly others. And NAACP is already cane care of by eloquence, you're supposed to capitalize those acronyms. NCAA also works.

[2020-07-02 03:13] ultrasound1372 commented on #1
Oh, Louisville is different there. I'm not sure how widespread that is. Do we know other states with Louisvilles to compare it to? Also I'm not sure what to do with cpu and gpu, as they're supposed to be CPU and GPU, in uppercase, and actually getting multi-word SPR's in the roots is a royal pain in the ass, see idk and others.

[2020-07-02 03:19] thunderdrop commented on #1
Louisville is being researched right now, but he wasn't wrong about Yankovic (/ˈjæŋkəvɪk/ - YANK-a-vik).

[2020-07-02 04:51] thunderdrop commented on #1
Adds most of the non-abbreviation entries from @jaybird110127, (187ebf2) alterations below. Thanks!

* Fobos is traditionally pronounced /ˈfoʊbɒs/ (FO.boss).
* There are a few ways to pronounce humuhumunukunukuapua'a, will look into this.
* Have picked the most general American pronunciation of Dachshund I could find, not quite like yours.
* Have decided not to add Louisville just yet, the pronunc

[2020-07-07 22:05] ultrasound1372 commented on #1
Proposing hallucinogen.
In my part of the US, which isn't the region it covers but this might be the same pronunciation, it would be something like `[h0xl1usXnx2Jxn]. Maybe some switching on those schwas, though, like should the last one right before the n be the ih shaped or uh shaped one.

[2020-07-08 12:49] amirsol81 commented on #1
[Dictionaries.zip](https://github.com/thunderdrop/IBMTTSDictionaries/files/4890701/Dictionaries.zip)
Guys, to say that you have turned my 15-year-old hobby into a serious undertaking would be a huge understatement!
I've been correcting Eloquence mispronunciations for the last 15 years, and actually have a hefty Root.dic file here. Older versions of my file used to ship with Nuance TALKS&ZOOMS and

[2020-07-08 16:11] thunderdrop commented on #1
@amirsol81 Hi there. It'd be difficult to exaggerate just how helpful you've been to the project, so I won't try. I will, however, say a huge thanks,  of course! Fifteen years of customisations is nothing to turn one's nose up at, and it'd be absurd not to include your hard work here!

I'll need to write a program that can compare these files and print the differences, but be sure you'll see your

[2020-07-08 16:37] ultrasound1372 commented on #1
I'll look into not loading ABBR.dic, though do keep in mind that you have to have abbreviations turned on in the synth. Also the latest IBMTTS compiles are only loading root.dic, main.dic and abbr.dic as legacy filenames, they will begin prefering enuroot.dic, enumain.dic and enuabbr.dic, which is for compatibility with another driver, though unfortunately they haven't yet had this same support ad

[2020-07-08 16:40] ultrasound1372 commented on #1
Is this the same dictionary set referenced by Spivey and his add-on that automatically updates them?

[2020-07-08 17:06] amirsol81 commented on #1
Thanks for your kind words! I'm glad my love of language and my attention to one of the best TTS engines ever produced finally paid off! I'd be ecstatic to contribute to the project, and am positive we'll have awesome discussions regarding word pronunciations in the near future.
All the best,
Amir

[2020-07-08 17:15] amirsol81 commented on #1
Hmm. This is a bit baffling. No matter what I do, I can't get IBMTTS to detect and use ENUabbr.dic or Abbr.dic. The same variations work well for Root and Main, but Abbr never gets detected. I do have that Abbreviation check box checked in NVDA's Voices dialog.
Of course, your decision regarding the use of ENU as part of the file names is quite welcome as it means I won't need to alter the file na

[2020-07-08 17:17] amirsol81 commented on #1
I don't know. But I have updated mine over the past couple of weeks quite significantly. Even new words like "allowlist" are included.

[2020-07-08 20:02] amirsol81 commented on #1
I'm still trying to get ABBR/ENUABBR to work, but apparently to no avail. Even Eloquence SAPI 4 which ships with the K1000 can't detect its entries. So I haven't been able to transfer abbreviations from ENUMain.dic to ENUAbbr.dic. But attached is a ZIP file contining my latest dictionaries -- I added some entries to both files over the last couple of hours.
[Eloq ENU Dictionaries.zip](https://gith

[2020-07-08 20:40] Mohamed00 commented on #1
Yes, that addon does reference this dictionary. However, I am kind of concerned about this root dictionary and merging it. One of the main issues I encountered with it in quite a lot of instances where either your dialect was inserted, or pronunciations just made things sound weird or were were a bit wrong, for example Adidas. It seems that the original German pronunciation is `[.1a.0Fi.2das], not

[2020-07-08 21:01] amirsol81 commented on #1
Well, as far as English is concerned, I can't have a so-called dialect bias because I'm an Iranian with an M.A. degree in TESL. But I love American English and consider myself an avid NPR/Public Radio listener. I also check top US dictionaries such as AHD5, Merriam-Webster, Dictionary.com and Lexico (an offshoot of Oxford) when I want to make pronunciation modifications.
As for Adidas, since I wan

[2020-07-08 21:03] thunderdrop commented on #1
That's why the project is on GitHub! :-) so that we can collaborate on and discuss these things as they come up, and obviously we will need a merge process for such a large set of entries. But I don't see this as being a barrier.

Also, regarding words like Adidas, we are transcribing pronunciations for a general American dialect of English. While I agree with you and think you're right about the

[2020-07-09 11:18] amirsol81 commented on #1
I agree with you about adhering to a so-called standard dialect of American English for transcriptions, and I've mostly tried to stick to that. However, sometimes my linguistic ventures move me in the direction of what might result in Adidas, which, BTW has been defined in one English dictionary: https://www.ldoceonline.com/dictionary/adidas
And my today's dictionary files are attached -- yet agai

[2020-07-09 11:20] amirsol81 commented on #1
[Eloq ENU Dictionaries.zip](https://github.com/thunderdrop/IBMTTSDictionaries/files/4896358/Eloq.ENU.Dictionaries.zip)

[2020-07-09 12:49] thunderdrop commented on #1
@amirsol81 @ultrasound1372 knows more about how the driver's cross-compatibility works, perhaps he can help you.

As for dialect, I know what you mean when you say "so-called", lol. It's going to be difficult sometimes to agree on a generic pronunciation for American English, so I appreciate that you post your sources!

I love linguistic ventures, I go on them all of the time!

[2020-07-09 14:13] amirsol81 commented on #1
So looking forward to receiving help regarding ABBR.dic.
Good question regarding my sources. I use the following:
1. American Heritage Dictionary: https://ahdictionary.com
My oldest source, this used to be my favorite American Dictionary as it also shipped with the Kurzweil 1000. Unfortunately Houghton Mifflin stopped updating it in 2018, scrapping the awesome Usage Panel and the editorial team. A

[2020-07-10 03:24] ultrasound1372 commented on #1
It was actually @Mohamed00 who made the change for that, in fact it was to be compatible with that K1000 SAPI4 driver. Maybe ECI 6.1 doesn't actually support loading these? Or we're passing it the wrong number? Or maybe it's wrongly formatted? I don't know. I'm no master of the API. And as far as the General American pronunciation of things goes, I think the exception that has been demonstrated is

[2020-07-10 08:48] Mohamed00 commented on #1
It does support loading the dictionaries, and at least here, enuabbr.dic seems to load properly in NVDA and SAPI4. For SAPI4, you need to put the dictionaries in your user account's folder in the Eloquence directory. If you don't see it, try registering the *.UIL files using regsvr32 while  running as administrator.

[2020-07-10 09:06] amirsol81 commented on #1
If possible, please kindly send me your working version of ENUAbbr or ABBR, or attach it to your next reply. Here both ENUMain and ENURoot work flawlessly with both NVDA and the K1000, but ABBR.dic doesn't no matter what I do. Maybe I'm using wrong rules there -- don't know. That's why I want to test both with your ABBR/ENUAbbr file.
Thanks.

[2020-07-10 09:11] amirsol81 commented on #1
You are right about the use of lowercase letters in ENURoot.txt -- in fact, even if we paste or type all-uppercase words there, EloqTalk.EXE converts them into lowercase letters upon saving them in ENURoot.txt. Here I use EloqTalk.EXE, as part of the Eloquence SAPI 4 bundle, to correct and save mispronounced words. Its SPR from KEY and SPR from Root functions are invaluable.

[2020-07-10 09:20] Mohamed00 commented on #1
Here's a quick test dictionary that works here, both with SAPI4 and NVDA. Note that you can't put phonemes or any other annotations in abbreviation dictionary entries.
[enuabbr.zip](https://github.com/thunderdrop/IBMTTSDictionaries/files/4902208/enuabbr.zip)

[2020-07-10 09:48] amirsol81 commented on #1
Guys, I just took a closer look at the root.dic file provided in this project, and have the following comments:
1. I'm a bit concerned about the inclusion of 2 or 3-letter words (like "ios" , "aly" or "os") there. I think they belong to Main.dic or even Abbr.dic. But more important than that, words like these, when corrected, tend to interfere with the pronunciation of other words. I've seen it ma

[2020-07-10 09:49] amirsol81 commented on #1
Thanks! I'll take a look in a few minutes.

[2020-07-10 10:19] amirsol81 commented on #1
Thanks. It works. But it seems to me that you can'T say, correct WHO as W H O in ABBR.dic -- only "World Health Organization" is accepted. Based on this observation, I think most of my corrected abbreviations still belong to Main.dic as I simply want most of them spelled -- WAMU, WHO, and ACT, for instance.

[2020-07-10 10:22] amirsol81 commented on #1
8. One more point regarding Root.dic provided in this project:
It corrects the word "superfruit", but doesn't do it for "superfruits". When the prefix "super-" is involved, the plural forms should also be corrected -- there are exceptions like this in Eloquence.

[2020-07-10 11:34] amirsol81 commented on #1
9. The same is true about "superfood" -- see number 8 above.
10. The word "dawnsinger" has been erroneously corrected as `[d1Cns2IGR]. The "c" should be lowercase as it will generate a non-pronunciation.
11. The word "pontes" has been corrected `[p1cntes]. However, "pontes", the plural of "pons", should be corrected this way: `[.1pan.2tiz].
12. The non-word "grandure" is corrected but I think the

[2020-07-10 13:13] amirsol81 commented on #1
Folks, Having understood the ins and outs of ABBR.dic and having analyzed Root.dic provided by this project, I managed to create an Abbr.dic file with entries such as XV/XII. I also updated my Main.dic file with a few entries mostly taken from the Main.dic provided here. However, my Root.dic my Root.dic file received the most significant updates today. Some were taken from this project's Root.dic,

[2020-07-10 22:02] Mohamed00 commented on #1
New word. SUSE. This is actually pronounced `[s1usx], not `[s1uz], according to [this musical](https://www.youtube.com/watch?v=nLdexZlVkAY) on SUSE's YouTube channel.

[2020-07-12 05:10] ultrasound1372 commented on #1
So @amirsol81 have you effectively completed the merge? And yes, acronyms like ios, nvda, nvaccess etc should be in main.dic. Those are leftovers from the very beginnings of this dictionary a few years ago when we didn't even know about how the main worked. Aly is a name. Can you name a place where it would cause a false replacement? I haven't seen any broken replacements of os myself, except when

[2020-07-12 07:56] amirsol81 commented on #1
@ultrasound1372 I was a bit concerned about the influence of the
corrected word "aly" on words like "Italy". However, performing a
wildcard search in AHD 5 indicates that "aly" hasn't altered the
pronunciation of other words so it seems to be safe to maintain it.
As for moving some entries to Main.dic, I also agree with you. In
fact, I'm doing it here and have moved many such words to ENUmain.dic.

[2020-07-12 08:19] amirsol81 commented on #1
BTW the project Root file has corrected the word "babel" whereas I
have retained the original. Speaking of such corrections, I have
corrected "rasputin" as `[.0rAs.1pyu.0tXn] based on American Heritage
5th and Merriam-Webster, but the one provided by the project is
`[r1aspu2tin] which sounds a bit non-English. What should we do with
those two?

On 7/12/20, Amir Soleimani <amirsol@gmail.com> wrote:

[2020-07-12 11:17] thunderdrop commented on #1
aviatrix=[.2e.0vi.1e.2trIks] aviatrices=[.2e.0vi.1e.0trX.0siz]
4. The word "fijian" doesn't need a correction as the one Eloquence provides is listed first in many sources.

I can see why you would use `[e] here in aviatrix/ces, although is the stress really there? As for the plural form, I think I misinterpreted or just got carried away with Latin, see similar words that end in "x" and pluralise

[2020-07-12 11:53] thunderdrop commented on #1
Please let us know when you've finished what you consider to be a full merge, there are some omissions in this version and a few blatant errors in your file that I'd want to discuss and correct, but obviously when we're all on the same page.

[2020-07-12 12:44] thunderdrop commented on #1
aviatrix=[.2e.0vi.1e.2trIks] aviatrices=[.2e.0vi.1e.0trX.0siz]
4. The word "fijian" doesn't need a correction as the one Eloquence provides is listed first in many sources.

I understand and mostly agree with 3, my thinking was along the lines of "index"/"indices", "matrix"/"matrices", etc.

I have never heard anyone say Fijian the way Eloquence says it, and not just because I live near those isla

[2020-07-12 12:49] Mohamed00 commented on #1
Interestingly, in Eloquence 5, Linux use to be pronounced [l1InHks], but
it seems IBM corrected it and the correction filtered down at some point.

On 7/12/2020 8:44 AM, Peregryn Winterwell wrote:

[2020-07-12 13:12] Mohamed00 commented on #1
Another issue I found with this dictionary. You've chosen to pronounce dos as `[.1duz], I suppose for things like dos and don'ts, however this breaks MS-DOS.

[2020-07-12 14:20] amirsol81 commented on #1
You are right -- dos and don'ts. However, a couple of days ago I did the same thing to "DOS" in ENUmain.dic to take care of it. I'll be sending them here. ENUmain.dic adds a lot of flexibility to what we are doing.

[2020-07-12 14:30] amirsol81 commented on #1
@thunderdrop I fully agree with you regarding Linux as your argument is what I have long advocated myself. For Linux I decided to go with what American Heritage Dictionary 5 suggests, but I'll remove it. I'll also include "Fijian" the way you proposed although it is listed second in many dictionaries. Of course the way Eloquences the first syllable is problematic regardless of the suggested pronun

[2020-07-12 15:56] amirsol81 commented on #1
@thunderdrop I see your point regarding "waterbed". However, it's a so-called "slip of the finger" I suppose because I'm well aware of the rule you mentioned and have frequently utilized it in my corrections. I do welcome your awesome analysis and observation, though.

[2020-07-12 20:55] ultrasound1372 commented on #1
Glad to see all the progress. I've been kinda hands-off lately, sorry about that, though I'm relieved that you're handling the merge yourself because I haven't written that python script yet :). So main allows for case stuff so DOS and dos get pronounced separately? Also can we do anything about don'ts? Default eloquence pronounces it with an a, when it should be an o, but I'm not sure about that

[2020-07-12 22:32] Mohamed00 commented on #1
I can confirm that Eloquence does allow apostrophes in root dictionary
entries, found this out while I was correcting O'shaughnessy, though I
learned that the o' is unnecessary in the root entry. Fixing don'ts
shouldn't be an issue, and if it breaks a word we can just enter it and
that variant will be overwritten.

On 7/12/2020 4:56 PM, Colton Hill wrote:

[2020-07-13 04:37] amirsol81 commented on #1
Thanks. It's quite a challenge, but I'm trying to get it done. It is a bit complicated because if I add a term to the dictionary and it already exists, EloqTalk will remove both. In addition, some terms exist in the project Root which, to me, sound like either misspelled words or already correct and I'm leaving the decision to include them to you -- words like "misshape" and "misshape" which are c

[2020-07-13 09:18] thunderdrop commented on #1
I'd like to re-iterate that everything that was already in the project file should be in the project going forward, unless it causes a technical error. The misspellings are fully intentional, some were added from MUDs, books, and forums. Although you're right about the -ise words, I was running into some pronunciation inconsistencies between British and American English spellings, and fixed them b

[2020-07-13 15:43] amirsol81 commented on #1
Folks, the merge is effectively complete, and what a feat! 😀
All misspelled words are also included although I don't like them much as they might serve to mislead people who rely on something like Eloquence for learning.
Anyway, before sending the dictionary files to the list, let me ask some questions:
1. The word "gingey" has been corrected as `[J1Inji]. However, this seems to be a problematic c

[2020-07-13 15:55] amirsol81 commented on #1
@thunderdrop No problem at all -- I love these discussions. In fact, had I disliked such comments, I wouldn't have provided my own Gargantuan Root file as it sure instigates a lot of discussion, and something should be wrong with me if I assume that it needs zero corrections!
My only minor gripe, if you can call it a gripe anyway, with the current project is the inclusion of some obviously misspel

[2020-07-13 18:29] Mohamed00 commented on #1
I'll jump in and say I agree with Amir here and I think that the
misspellings should be removed. The last thing we should do is feed the
stereotype that Eloquence users can't spell.

On 7/13/2020 11:56 AM, amirsol81 wrote:

[2020-07-13 19:42] thunderdrop commented on #1
@amirsol81 @Mohamed00 I don't fully understand your thinking here, admittedly on an intellectual level. If someone is worried about their spelling, then they can become a better speller by finding out how words are spelt. English orthography is so irregular that this is practically necessary, because pronunciation hardly reflects spelling.

Text to speech was never designed with spelling  alone in

[2020-07-13 19:48] amirsol81 commented on #1
Your points regarding spelling and TTS engines are well taken. However, at
least as far as writing is concerned, I have seen people, especially
non-Native speakers, Who tend to rely on what their TTS engines pronounce
to decide if they have typed correctly. I don’t want to read or Dell too
much into that argument, but it is my humble opinion that we should avoid
including obvious mispronunciations

[2020-07-13 19:53] thunderdrop commented on #1
This is true. As a polyglot, I can definitely appreciate the need for semi-consistent TTS pronunciations, I think it's probably just been my privilege to have learnt languages with consistent letter-to-sound rules. I feel for non-native speakers, and agree with your ideas. Thanks for the perspective.

[2020-07-14 07:27] amirsol81 commented on #1
@thunderdrop You are most welcome!
While awaiting your comments on the words I queried yesterday, let me
ask about a few more as I went through the Root file provided here
once again:
1. The Root file fixes the word "quim" as `[k1im]. However, I've heard
it with "w", both similar to how Eloquence pronounces it and the way
AHD 5 and Merriam-Webster pronounce it. What do you think?
2. The file fixes

[2020-07-14 14:04] thunderdrop commented on #1
@amirsol81 Hi, I've tried to answer your questions. There's no such thing as too many for a thing like this, and I'll have heaps of my own for you, so don't apologise! :-) Here goes:

1. "Gingey" was a personally required pronunciation at the time I added it, and can probably be omitted. Some of these are the case, I'll try and pick them out if you don't get there first!
2. We had someone send in

[2020-07-14 16:30] amirsol81 commented on #1
@thunderdrop Thanks for your awesome and eye-opening reply!
1. So I haven't yet added the words Taranaki and wiremu. Should I do it and keep that soft "T" sound? Since you asked for opinions and I'm clueless here, I thought I'd delay their inclusion.
2. Thanks for the ojban link! I also added it.
3. I have corrected Tiananmen based on the recommendations of RandomHouse Webster's Unabridged Diction

[2020-07-14 16:51] amirsol81 commented on #1
Folks, please accept my apologies. Attached is yet another ZIP archive with the same dictionary files. I had moved sndup to Main, but had forgot to remove it from Root. Moreover, I also made a couple of minor changes to Root.
[Eloq ENU Dics_Rev - Jul 14.zip](https://github.com/thunderdrop/IBMTTSDictionaries/files/4920095/Eloq.ENU.Dics_Rev.-.Jul.14.zip)

[2020-07-14 17:31] Mohamed00 commented on #1
Interestingly, some of these pronunciations seem to break Eloquence's de-stressing rules for specific phrases. For example, the fix for "pickup" breaks "pickup truck", and "tournament" breaks football, basketball, or breaks football, basketball, and baseball tournament. You don't have to remove it as admittedly as your pronunciation is probably a bit more correct, just an observation.

[2020-07-14 17:58] amirsol81 commented on #1
"pickup" is a problematic pronunciation for Eloquence with its schwa. In general, Eloquence has issues with words ending in "up" without a dash -- signup, touchup, wickiup, mockup, nohup, stackup, writeup, markup, etc. So apparently it needs to be corrected.
As for tournament, it is recommended by all American English dictionaries with its tour-like pronunciation. But the "ter" is also accepted as

[2020-07-14 18:49] ultrasound1372 commented on #1
For the context of exec, see eval. Abbreviated function names. But I do agree that since company execs are mentioned more that that should take priority, unless we really wanted to do some possibly clunky stuff and if they never talk about one exec but do talk about multiple execs, the singular form could be CS, while the plural could be business. That would probably seem really confusing from an

[2020-07-14 18:55] ultrasound1372 commented on #1
Rasputin falls under that area of proper names as does Wagner, no? So in this case I might lean towards the way it would be pronounced in Russian. `[.1rAs.0pyX.0tXn], and especially the more common American `[.0rAs.1pyu.0tXn] sounds kind of... Bastardized to me.

[2020-07-14 19:00] amirsol81 commented on #1
@ultrasound1372 Quite interestingly, for Louisville all American English Dictionaries only display the minus-s sound, and the only definition they offer for it is "The largest city of Kentucky ...". Even the WaveNet Google TTS which is very good at reflecting standard American English pronunciations prefers that: https://cloud.google.com/text-to-speech
So by not including that minus-s variation we

[2020-07-14 19:08] amirsol81 commented on #1
Well, actually there exists a difference here. All American English dictionaries accept and recommend the Americanized Rasputin: .1pyu. However, the same is true about Wagner with the V sound. That is, they recommend the so-called non-American V pronunciation for Wagner, Richard  1813-1883, but suggest the American W-sounding pronunciation for Wagner, Honus 1874-1955: American baseball player who

[2020-07-14 19:14] thunderdrop commented on #1
@amirsol81 @ultrasound1372 I think we should decide how we're going to deal with names. We seem to have Americanized some, and left others to approximations of native language pronunciation. I personally don't have too much of a problem with this, it's nice to honour pronunciations of names. But I also said waaaay above here that we should be less interested in preserving etymologies. I'm sorry if

[2020-07-14 19:17] thunderdrop commented on #1
Also I'm aware that etymologies aren't pronunciations, but they do affect them.

[2020-07-14 19:27] amirsol81 commented on #1
This is both an interesting and a murky area. Having thought about it for a few days, I also think we should try to move toward Americanized pronunciations especially if they have become quite popular -- again Adidas serves as a very good case in point. However, with country and city names, things become rather cryptic. Is there a "Cow" in "Moscow"? Quite incidentally, there's a book titled "Is Th

[2020-07-14 19:34] amirsol81 commented on #1
@thunderdrop Also if doesn't prove to be confusing, I think we should adopt the "popularity" factor more than the American/non-American factor. So, which version of Rasputin is more popular, is heard more frequently and is recommended more often? The same is true about names of countries, capitals, brands, etc. Again sticking to Rasputin, some non-American pronunciations aren't popular and sound a

[2020-07-14 19:40] thunderdrop commented on #1
@amirsol81 I agree with that. It's a strange way of thinking for me, because as a linguist and polyglot I love to pronounce words the way they were intended to be pronounced in their native language. But I see the merit in consistency, and think popularity is probably the best way to go. I'd like to find out how some dictionaries collect their pronunciation data, though. When we ask what the more

[2020-07-14 20:00] amirsol81 commented on #1
Very interesting questions. Of course, we can never get definitive answers from them other than some very generalized assumptions -- stuff which we expect dictionary publishers to subscribe to. For instance, Merriam-Webster provides the following answer -- via this PDF file and I quote: https://www.merriam-webster.com/assets/mw/static/pdf/help/guide-to-pronunciation.pdf
""The pronunciations in thi

[2020-07-14 20:07] amirsol81 commented on #1
@thunderdrop I used to include the words "transient" and "transience" to accept the "sh"-like pronunciations: so transient would rhyme with ancient. But when I saw that everyone is saying tranZEE-unsand dictionaries recommend it, I reverted to the original Eloquence pronunciations. I myself prefer, and actually use, the ancient-rhyming variation, but when it comes to Root.dic/Main.dic, I'm not in

[2020-07-14 21:49] thunderdrop commented on #1
@amirsol81 Oh yes, I hear you on that! Thanks for the information about Merriam-Webster, I'll do some digging on my own because I'm curious about representation.

I'm using your merged file now, and I encourage everyone to grab that and try it out, as it resembles what the August 1 release will be like. No doubt questions and corrections will come up, but that's why this project is here. Thanks fo

[2020-07-15 05:30] amirsol81 commented on #1
@thunderdrop You are most welcome -- such a great honor!
I also suggest that people use my files. Till August 1st I'll do my
best to make the needed changes/corrections. For instance, here's what
I've done today -- so far:
1. Removed "tournament" as the non-tour pronunciation is
popular/recommended enough.
2. Added the word "Whitaker".
3. Added the word "abuser" as Eloquence mispronounces it in
co

[2020-07-15 22:33] ultrasound1372 commented on #1
Can you submit your files as a PR or @thunderdrop merge them into the mainline repo? There's still room to change, a release is a reference to a specific commit so we can make multiple before calling it a release. There's just a lot of comments in this thread :). But glad we're having this discussion! and yes, I agree with your point of view regarding popularity, though I have a question on that f

[2020-07-16 06:02] amirsol81 commented on #1
May I know how I can submit my files as a PR? I'm clueless here as I haven't done it at all! 😀
As for ad infinitum, my .1nY.0fxm change is suggested virtually by all US English dictionaries -- AHD 5/FOxford/MW. In fact, not a single audio file from these dictionaries pronounces ad infinitum the way Eloquence does it. Moreover, both Alex and the relatively new WaveNet-based Siri female voice pronou

[2020-07-16 10:45] amirsol81 commented on #1
@ultrasound1372 Oh I got your point re PR = pull request! 😀😊 I'll do that.

[2020-07-16 11:13] amirsol81 opened #3 "Eloq ENU Dics - Jul 16.zip"
Added words to Root:
exscind -> `[.0Xk.1sInd]
ivanka -> `[.0X.1vaG.0kx]
metaxalone ->  `[.0mX.1tAk.0sx.2lon]
metatroph ->  `[.1mE.0Fx.2traf]
metatrophs ->  `[.1mE.0Fx.2trafs]
mephenoxalone ->  `[.2mE.0fX.1nak.0sx.2lon]
metestrus -> `[.0mE.1tE.0strxs]
metformin ->  `[.0mEt.1fcr.0mXn]
methedrine ->  `[.1mE.0TX.2drin]
methemoglobinemia ->  `[.2mE.2thi.0mx.2glo.0bX.1ni.0mi.0x]

Removed words from Root

[2020-07-16 11:17] amirsol81 commented on #3
Forgot to mention that I added "thingie" as another spelling of "thingy" to Root. "Thingy" was corrected before, and many dictionaries display "thingie" as its second or alternative spelling

[2020-07-16 12:42] amirsol81 commented on #1
@ultrasound1372 I can't create a pull request. The Create Pull Request button is unavailable, meaning I can't select it no matter what I did/compared. So I had to create an issue:

[2020-07-16 14:04] thunderdrop commented on #3
Hi, Amir. It's odd that you can't make PRs. I believe you, I'm just confused about that!

I've been thinking about something that I was going to run past you privately, before getting some public opinion. As I couldn't find a way to reach you, I'll ask you here. If you're comfortable with Git or are willing to learn some basic repo management, would you like to be a collaborator on this project? I

[2020-07-16 14:06] thunderdrop commented on #3
As a collaborator, your responsibilities would be no more involved than they are now, it would just give you better access to the workflow, rather than having you try to put bricks in the wall by pushing them up a hill first!

[2020-07-16 14:09] amirsol81 commented on #3
It would be my honor to be a project collaborator. So please do whatever you deem appropriate. Thanks for the beneficent offer.

[2020-07-16 15:00] ultrasound1372 commented on #3
Yep, go ahead. I have no idea why creating a pull request would be unavailable unless github is doing the thing that it's done with some countries. And who said abbr.dic files aren't to be distributed? The loading in add-ons is currently a bit broken I guess, but that doesn't mean we shouldn't have them for when it's not.

[2020-07-16 15:01] ultrasound1372 commented on #3
When he's added as a contributor, this should be closed.

[2020-07-16 15:05] thunderdrop commented on #3
@amirsol81 Done, welcome to the team!

[2020-07-16 15:05] #3 closed

[2020-07-16 15:10] amirsol81 commented on #3
Thanks! Under issue 1 you said: "I'll look into not loading ABBR.dic, though do keep in mind that you have to have abbreviations turned on in the synth." I thought it means that Abbr.dic isn't to be distributed.

[2020-07-16 15:11] amirsol81 commented on #3
Huge thanks!

[2020-07-16 15:41] ultrasound1372 commented on #3
I was saying I would look into IBMTTS add-ons not being able to load it.

[2020-07-16 15:42] ultrasound1372 commented on #3
OK so you can basically just put your files in as they are on your end and commit.

[2020-07-16 15:46] amirsol81 commented on #3
Folks, is creating pull requests really complicated? The Create New Issue is still unavailable here, meaning I can't select it! Of course, it first says something about comparing branches and such. I used to think that I can simply select the button, type a description, and send my files via an attachment. Guess I should go learn it afresh <LOL>!

[2020-07-16 15:50] amirsol81 commented on #3
Hmm. First I select the Pull requests link, and then the New pull request link. But on the new page which opens, the Create pull request is unavailable or, as sighted folks like to call it, grayed. Should I do something more? Accept my apologies for this abecedarian approach <smile>!

[2020-07-16 20:07] amirsol81 commented on #3
Folks, in an attempt to resolve my Pull Request creation issue, I removed all of my forked repos -- including this one. So it seems that I've lost my Collabrator status! Anyhow, the issue persists. The New Pull Request page asks me to compare two branches instead of displaying the PR-creation form. Of course there's nothing to compare so the button to create the PR is disabled.

[2020-07-18 03:32] ultrasound1372 commented on #3
You have to compare branches to make a pull request, so you would compare across forks, then pick this repo as the base and your repo as the head and the same branch, then go from there.

[2020-07-18 03:37] ultrasound1372 commented on #1
@amirsol81 I have a few questions about rationale of some actions I've noticed in this merge. Firstly, I noticed that you had redone the stress on absolute, and all varriants. I think there's at least some where the stress would go on the u, for example absolutely. Also this breaks a sentence saying something like this statement is absolute, in that case I've always seen the stress go on the u. Fu

[2020-07-18 05:08] amirsol81 commented on #1
@ultrasound1372 Quite interestingly, an Eloquence user brought this to my attention. He told me that virtually all American English dictionaries, like Oxford American and Merriam-Webster, pronounce "absolute" and "absolutely" with the stress placed on the first syllable. Had I not checked it myself, I wouldn't have believed it. So based on this and Windows One Core's same pronunciations I was aske

[2020-07-18 08:20] amirsol81 commented on #1
@ultrasound1372 I just added Rhyannan, Kirsten and Giana based on the project's Root file. But as I said, asshat was already fixed.

[2020-07-18 08:53] amirsol81 commented on #1
@ultrasound1372 After taking an unusually closer look at the whole "absolute" story, , I decided not to mess around with such a contentious issue. Furthermore, AHD 5 supports the old Eloquence pronunciations. So I removed all "absolute" variants other than "absolutive" and "absolutistic" -- both being clear mispronunciations.

[2020-07-18 15:16] ultrasound1372 commented on #1
I agree that absolutive and absolutistic should have the stress there. Asshat is the compound of ass hat. Perhaps it's just an invalid sequence, I'll check something. I myself won't be using the abbreviations feature as it's synths just trying to be more clever than they are, which is why etc and misc were in root. They should probably go in main if we want them outside of abbr.

[2020-07-18 15:18] ultrasound1372 commented on #1
OK so, what are your changes being made in? ENUroot.dic and ENUmain.dic? Because I still don't see these there. You have to commit and then push.

[2020-07-18 15:19] ultrasound1372 commented on #1
Note: liblouis is not pronounced like that! It is named after Louis Braille, resulting in Lib Louis.

[2020-07-18 17:32] amirsol81 commented on #1
Honestly I hadn't noticed that association. I'll be fixing it. Thanks.

[2020-07-18 17:35] amirsol81 commented on #1
Well, today I was planning to publish those two files. But it's proving quite cumbersome! I did everything, made the commit, and tried to create the pull request. Everything apparently went well but at the end it displayed a "file conflict" message, saying ENURoot.dic has a conflict.
I'll give it a try tomorrow but if it proves to be such a hassle, guess I'd be better off emailing them to one of t

[2020-07-18 17:40] ultrasound1372 commented on #1
Why are you creating a pull request? You can push directly. Yes, files have been updated since then. So in your local repo, git pull, let it do the merge, it should merge fine. Then push.

[2020-07-20 19:46] thunderdrop opened #7 "Randomisation of Dictionary Contents"
@amirsol81 I've noticed when you commit your changes, everything in the Root dictionary gets shuffled around. Is there a reason for this, and is it possible to stop it from occurring?

[2020-07-20 19:52] amirsol81 commented on #7
Unfortunately it's beyond my control. Actually the app via which I compile my entries and corrections does that each time I close it to save the changes. The app is EloqTalk and if you're running the SAPI-4 version of Eloquence -- say with the K1000, it's located at C:\Program Files (x86)\Common Files\SpeechWorks\ETI-Eloquence 6.1\eloqtalk.exe. Apart from generating corrections based on the root w

[2020-07-20 23:07] thunderdrop commented on #7
Could you do your corrections in EloqTalk and then write the file with another program? It makes tracking diffs harder because nothing is ever in the same place, I.E. Line numbers never truly correspond to anything. I appreciate that EloqTalk can make things easier, and I'd not want to interrupt your local workflow, as it's your choice. But you could save the file with something else.

[2020-07-21 01:36] ultrasound1372 commented on #7
I personally use elocutor and it's SPR output option or just regular speech to check and create root entries. Then I just paste them at the bottom of the file. The massive shuffling makes git really confused.

[2020-07-21 01:38] amirsol81 commented on #7
Well, if I do it with EloqTalk, it performs the saving process itself.
So it's not feasible to avoid the randomization that way. May I know
what elocutor is and how I can grab it? Is it different from EloqTalk? I
want to really resolve the randomization issue.

On 7/21/2020 3:37 AM, Peregryn Winterwell wrote:

[2020-07-21 13:46] amirsol81 commented on #7
May I know where I can grab elocutor? Is it different from EloqTalk? Guess I'm frantically randomizing the dictionary contents <LOL>!

[2020-07-21 16:38] ultrasound1372 commented on #7
Another way is if eloq talk lets you use any files as a dictionary set you can just cut any new changes you make out of the file into our project and any time you add new entries through eloq talk it will go in this empty file which you can then paste on the bottom. If you add entries in batch they would be random, but at least our workflow wouldn't be broken. Or you can use whatever you have that

[2020-07-21 16:47] amirsol81 commented on #7
Well, it's doable but it would take more time to handle copies and
pastes. Guess I should bite the bullet and execute it <smile>.

Elocutor doesn't come with my copy of SAPI-4 Eloquence -- EloqTalk does.
So can I grab it from a URL or something?

On 7/21/2020 9:08 PM, Colton Hill wrote:

[2020-07-21 21:21] #7 closed

[2020-07-22 04:11] amirsol81 commented on #7
It's hopefully resolved but I appreciate it if you could provide a way for me to grab Elocutor. It seems to have some advantages over EloqTalk.
Thanks.

[2020-07-22 05:01] thunderdrop commented on #7
The reason we haven't done that yet is because we're not sure what the licensing is on Eloquter and we don't want to get in trouble with GitHub. Sorry for the confusion.

[2020-07-22 05:04] amirsol81 commented on #7
@thunderdrop I understand <smile>. So any chance of emailing it to me or providing a website URL?

[2020-07-22 16:45] thunderdrop commented on #7
Not sure who distributes those tools anymore, I believe those are abandonware. You don't seem to have a public email address.

[2020-07-22 19:41] amirsol81 opened #8 "ENUmain. dic cant fix AT&T with NVDA but it works with SAPI-4 Eloquence"
In an attempt to fix AT&T, I added the following to ENUmain.dic:
AT&T `[.2e.2ti.0xn.1ti]
While it works with Eloquence SAPI-4/Kurzweil 1000, I can't get it to work with NVDA. I even altered NVDA's treatment of & "And" by sending it directly to the synthesizer via the Preferences->Punctuation/symbol pronunciation dialog but it just results in a different pronunciation not the intended one. So the "

[2020-07-22 22:26] thunderdrop commented on #8
This is odd, the ECI documentation says that this is acceptable for an  input key in Main, but I can't get it to work either. Might be a problem with the driver itself? @ultrasound1372

[2020-07-22 23:49] ultrasound1372 commented on #8
Could also be NVDA's splitting expressions that it uses when capitals are involved, splitting and such. It's why backquote voice tags don't work by default even if you have the symbols passing through, the number gets broken. A good fix I think is to add a pronunciation entry for AT, Eh T, which would fix things like AT vendors, and AT&T in one fell swoop.

[2020-07-23 02:19] #8 closed

[2020-08-01 09:10] amirsol81 opened #9 "Will we have a Dictionary release today?"
Folks, as mentioned in the Read Me file, the dictionaries should be released on the first day of each month. As such, I want to know if the first release will be made available today. If so, I suggest that the Read Me file also describe what NVDA users should do in order to use hyphenated words in ENUmain.dic. A setting should be altered in NVDA's Punctuation/Symbol Pronunciation dialog.

[2020-08-01 16:22] ultrasound1372 commented on #9
Yes, a release will be made today, sorry, we were both doing other things. I'll manage this, and update readme as described.

[2020-08-01 16:22] #9 closed

[2020-08-01 16:38] ultrasound1372 commented on #2
The month of July has ended. Also, due to general versioning practices, version numbers will not prefix a 0 on single digit months.

[2020-08-01 16:38] #2 closed

[2020-08-01 16:38] ultrasound1372 commented on #1
The month of July has ended. Also, due to general versioning practices, version numbers will not prefix a 0 on single digit months.

[2020-08-01 16:38] #1 closed

[2020-08-01 16:43] ultrasound1372 opened #10 "2020-08 - roots"
See readme for contributing guidelines. Also I know in the last issue I just said version numbers won't have padding zeros on the month numbers, but this isn't a version number, this is a chunk of the ISO 8601 date format. Any words you wish added, propose them here.

[2020-08-01 16:44] ultrasound1372 opened #11 "2020-09 - main"
See readme for contributing guidelines. Any words you wish added, propose them here.

[2020-08-01 16:48] amirsol81 commented on #1
@ultrasound1372 Thanks for your stupendous efforts. Just a suggestion: wouldn't it be a good idea to include the Read Me file in the ZIP archive?

[2020-08-18 01:04] ultrasound1372 commented on #10
I propose the following additions from the project's original root dictionary, which I am not sure of the reasoning for them not being ported by @amirsol81.
[code]
Also unsure of the proper pronunciation of sycophant.
I further propose adding italiano as a root, either as `[.0X.2ta.0li.1a.0no] or `[.0X.2tA.0li.1a.0no], not sure which pronunciation to go with. I would personally lean toward the fir

[2020-08-18 04:12] amirsol81 commented on #10
@ultrasound1372 Good points.
1. Stuff added to Root:
animorph	`[.1An.0X.2mcrf]
Quite interestingly, the Root file already contains its plural form which needs a separate correction.
mosen	`[.1mo.0zXn]
I had it in my original Root file before the merge, but have no idea why it was left out. Maybe I wanted to add it to Main but had forgotten about it.
flowchart	`[.1flo.2Cart]
barchart	`[.1bar.2Cart]

[2020-08-18 10:08] amirsol81 commented on #10
@ultrasound1372 The archived Root also contains the following entry:
grande	`[gr1ande]
However, I haven't included it because of its conflict with the pronunciation of "grande dame":
grande dame. noun. plural.  grandes dames or also  grand dames..
1. A highly respected elderly or middle-aged woman.
2. A respected woman having extensive experience in her field: the grande dame of women's profession

[2020-08-18 18:37] ultrasound1372 commented on #10
I wasn't referring to the sy part, I was refering to the pronunciation/stress of the phant part. It is a schwa, not a somewhat unstressed fant?

[2020-08-18 19:40] amirsol81 commented on #10
@ultrasound1372 Eloquence tends to use the .0Xnt] combination for words
like sycophant instead of .0xnt]. Get visitant, issuant, decontaminant,
noctivagant, triumphant, etc. So here I haven't modified that part to
remain consistent with similar -ant-ending words.

On 8/18/2020 11:07 PM, Colton Hill wrote:

[2020-08-21 00:15] ultrasound1372 commented on #10
Re Grande, maybe it should go in main then, it was put there because of Ariana Grande

[2020-08-21 07:20] amirsol81 commented on #10
I just added Grande, capitalized, to ENUmain.

On 8/21/2020 4:45 AM, Colton Hill wrote:

[2020-08-25 01:56] ultrasound1372 commented on #10
I propose:
[code]
The double secondary stress may not work, though. These are nouns which describe a system that is linear or is nonlinear. For example, the nonlinearity of the human eye's perception of brightness. I believe that using 'I' instead of 'X' is called for in this case, as the lin part should be more obvious than the default schwa would have it be.

[2020-08-25 03:26] amirsol81 commented on #10
@ultrasound1372 Agreed. I just added it to ENURoot. And nonlinearity is needed as linearity can take care of it. Quite interestingly, we already have the following entries in Root which bolster your proposal:
collinearity	`[.0kx.2lI.0ni.1Ar.0X.0Fi]

colinearity	`[.0kx.2lI.0ni.1Ar.0X.0Fi]

curvilinearity	`[.2kR.0vX.2lIn.0i.1Ar.0X.0Fi]

[2020-08-29 01:10] ultrasound1372 commented on #10
Can we do something about yeah? I'm being told by people that that's not how you say it, and I would tend to agree, but they also made fun of the sequence I was using previously, `[.1yAx]. I'm not sure which sequence would make it sound correct. Though that is probably one of the most regionally varying words so, hmmm. If all else fails we might just revert it back to the way ECI pronounces it nat

[2020-08-29 02:57] amirsol81 commented on #10
Well, I actually removed it from ENURoot. Having disliked ECI's
original, I tried switching to what MS SAPI 5 and MS One Core use in
line with a couple of dictionaries, too. But the ECI original, despite
its oddity, is also accepted by some dictionaries. The ECI issue is that
it tends to emphasize the last schwa .0x a bit, but guess we have to
live with it for now.

On 8/29/2020 5:41 AM, Colton Hi

[2020-09-01 18:44] amirsol81 commented on #10
@ultrasound1372 Today is September 1st, so could you please release the monthly dictionary updates?

[2020-09-03 04:35] amirsol81 commented on #10
Guys, we have well moved past the first day of the month and the 2nd monthly dictionary update hasn't been released. May I know if this Github project has been discontinued? I want to stop posting my updates here if this is the case. Thanks.

[2020-09-03 17:34] ultrasound1372 commented on #11
Due to lack of entries in this category, instead of duplicating a new issue with the same text and closing this one, I will rename this issue for the new month.

[2020-09-03 17:36] ultrasound1372 commented on #10
Sorry. I was busy with other things and had forgotten about this, plus my computer has been really slow lately and was subject to lots of updates. Release is out now. Closing for replacement.

[2020-09-03 17:36] #10 closed

[2020-09-03 17:38] ultrasound1372 opened #12 "2020-09 - Roots"
See readme for contributing guidelines. Any words you wish added, propose them here.
### Note
This issue will currently encompass all roots dictionaries, due to lack of sufficient separation for other languages' dictionaries. If many proposals start coming in for dictionaries besides ENU, a new discussion will be created for that dictionary.

[2020-09-03 17:40] amirsol81 commented on #10
Thanks!

On 9/3/2020 10:06 PM, Colton Hill wrote:

[2020-09-20 03:30] ultrasound1372 commented on #12
I propose iterable. It has the same root pronunciation as iterate, no? If somebody could confirm this that would be nice. @amirsol81

[2020-09-20 04:43] amirsol81 commented on #12
@ultrasound1372 I just added "iterable" to ENURoot. You are right, it has the same root as iteration/iterate.

[2020-09-25 17:17] ultrasound1372 commented on #11
@amirsol81 I do not agree with the addition of "A" as an entry in ENUmain. What purpose does this serve? It just mangles some pronunciations for me.

[2020-09-25 17:20] ultrasound1372 commented on #12
Why was commutative fixed and then reverted, especially reverting to the default pronunciation by the SPR instead of just removing the entry? I read Webster which said that both pronunciations were valid, but I believe in the majority of contexts that the phrase would be encountered it would be pronounced with the flap schwa pronunciation. Also, should multiplicative have been altered at all? Far

[2020-09-25 17:32] ultrasound1372 opened #13 "ENUMain: Regarding incorrect abbreviations and domain names"
I've noticed a trend developing in ENU Main giving special pronunciations for improperly cased versions of many websites and a few acronyms. As the pronunciation of the website domain name is generally not what you see as the title of the page, I vote for these pronunciations to be removed. As for acronyms, I'm not totally sure on that one, even for some lowercase versions. I believe the addition

[2020-09-25 18:19] amirsol81 commented on #11
@ultrasound1372 I mentioned the rationale for the inclusion of capital a
in its commit: headlines containing capital a are read erroneously. Take
these two, for instance:

Hero Rat Wins A Top Animal Award For Sniffing Out Landmines
Kim Jong Un Says He's Sorry That North Korean Troops Killed A South
Korean Man

So may I know where this addition messes up with Eloquence? We can
remove it if needed -

[2020-09-25 18:35] amirsol81 commented on #13
@ultrasound1372 As someone who has done almost all of that <smile>, I
agree wholeheartedly. However, I suggest that we maintain corrections
for important and internationally-recognized news/technology websites.
And for some of them the uppercase version is included because Eloquence
mispronounces them, too.

On 9/25/2020 9:03 PM, Colton Hill wrote:

[2020-09-25 19:00] amirsol81 commented on #12
@ultrasound1372 The correction for commutative isn't the exact copy of
its SPR -- it is `[.1ka.0myX.2te.0FXv]. The SPR is `[.1ka.0myX.0Fx.0FXv]
which isn't listed in MW as I just re-checked. MW suggests this is an
alternative: `[.0kx.1myu.0Fx.0FXv].

As per multiplicative, you are right -- the Eloq pronunciation is also
acceptable. But I altered it, to jibe with previously altered words such
as co

[2020-09-29 16:37] ultrasound1372 commented on #12
@amirsol81 I replied to this by email, but github doesn't like my emails apparently. I edited the comment about commutative realing it wasn't like that in the engine default, but my point for it's replacement still stands. In the area where you hear these words, mathematics, they are pronounced as I gave for commutative, and as the engine default for multiplicative.
Also: Did you remove entries fr

[2020-09-29 16:38] ultrasound1372 commented on #12
You have so many darn commits I can't possibly look at them all.

[2020-09-29 16:51] amirsol81 commented on #12
@ultrasound1372 "Multiplicative" was removed from ENURoot yesterday (as part of those 36 removed words), and I just modified "commutative" in ENURoot: commutative	`[.0kx.1myu.0Fx.0FXv]
Also no, I haven't removed those two words you mentioned -- maybe they were not integrated into my ENURoot file while I was doing the megamerge. I'd appreciate it if you could add them yourself.

[2020-09-29 16:54] amirsol81 commented on #12
<LOL> -- is this a compliment or some sort of criticism?

[2020-09-29 17:21] ultrasound1372 commented on #12
I'm not really sure, was just sort of a comment.

[2020-09-29 17:32] ultrasound1372 commented on #13
Perhaps we should begin perging the main dictionary of many of these domain names?

[2020-09-29 18:07] amirsol81 commented on #13
Interestingly, @thunderdrop added a domain name today <smile>. I think
at least major news/tech/reference/educational ones should be retained.

On 9/29/2020 9:02 PM, Colton Hill wrote:

[2020-09-29 21:15] thunderdrop commented on #13
Hmm, not me. I added some terms I often hear in Linux which are uncommon enough that they wouldn't conflict with dictionary words, No domains.

As for removing them, I'm not sure. Yes, adding them does create a bias, but that's only because there are so few on the project at present. If we had more people, we'd have a bigger sample. After all, our whole job here is tracking down things eloquence c

[2020-09-29 21:18] thunderdrop commented on #12
@amirsol81 Well, I'll personally repeat it in the context of a complement. You work hard on this and I appreciate that, especially as I've been caught up in much life nonsense in the last 2 months. Thanks!

[2020-09-29 23:27] ultrasound1372 commented on #13
I just don't see it as necessary, as no synth will pronounce these, these are spellings that exist only because the DNS is case insensative after all. As an example, howtogeek. When you go to the website, the page title is How-To Geek. Or thefreedictionary for The Free Dictionary. And re chmod, do we know if linux people say ch mod, ch mode, or chmode?

[2020-09-30 03:49] amirsol81 commented on #13
@ultrasound1372 For the record, it is not that no other synth pronounces
them properly. For instance, both MS SAPI 5 and MS OneCore voices
pronounce "howtogeek" correctly. In fact, OneCore voices handle most of
them quite gracefully.
On 9/30/2020 2:57 AM, Colton Hill wrote:

[2020-09-30 03:50] amirsol81 commented on #12
@thunderdrop You are most welcome! I'm so glad I can help move this project forward.

[2020-10-01 03:12] ultrasound1372 commented on #11
Since it's the 1st in UTC, I'm closing this to prepare the release and open new issues for next month.

[2020-10-01 03:12] #11 closed

[2020-10-01 03:13] ultrasound1372 commented on #12
Since it's the 1st in UTC, I'm closing this to prepare the release and open new issues for next month.

[2020-10-01 03:13] #12 closed

[2020-10-01 03:19] ultrasound1372 opened #14 "2023-02 - main"
See readme for contributing guidelines.

[2020-10-01 03:20] ultrasound1372 opened #15 "2020-10 - Roots"
See readme for contributing guidelines.

[2020-10-01 21:42] ultrasound1372 commented on #11
@amirsol81 you can use this regex in your NVDA voice dictionary to make capital A be properly read if encountered in the context of a headline.
[code]

[2020-10-01 22:08] amirsol81 commented on #11
@ultrasound1372 Thanks for the tip. I'll make use of it.

[2020-10-01 23:05] ultrasound1372 commented on #11
@amirsol81 actually, don't. There's a nasty flaw in that expression as it stands, it will lowercase the "A" at the beginning of a sentence, thus breaking punctuation parsing rules. A more suitable pattern might be the following.
[code]

[2020-10-07 06:59] jaybird110127 opened #16 "Pronunciation of Louis"
Okay, this is almost certainly going to open up a huge can of worms. I understand why the word "Louis" is being pronounced like it is in the current community dictionary, especially since there's a rather well-known blind guy whose last name is Louis. However, he lives in the UK, where the way we're currently pronouncing Louis is correct. However, in the US, as far as I know, it is pronounced as "

[2020-10-07 07:33] amirsol81 commented on #16
@jaybird110127 Thanks for bringing this up. Your point is well taken. "Louis", when altered, also tends to break "Joseph Louis", "Saint Louis", "Louis Farrakhan", etc. So I removed it as part of the latest commit just made to ENURoot.dic. The title of the commit is ENURoot: added 46 words, removed "Louis" and "financier".
For the sake of clarity, this particular dictionary is for American English

[2020-10-07 17:28] fisher729 commented on #15
Hi.

Some words:
1. musgrave
2. goddamnit
3. mentos
4. coulda
5. woulda
6. shoulda
7. hola (Spanish)
8. gaga
9. readonly (possibly main)
10. clickthrough (possibly main)
11. describedby
12. dele (soccer player)
13. halle (berry)
14. grindr
15. Zidane (soccer player)
16. colombian
17. gamechanger
18. hotelier
19. sewer (I don't know if this one would be best left alone, but the more common pronunci

[2020-10-07 20:41] amirsol81 commented on #15
@fisher729 Thanks for suggesting these words.
I just added 16 words from your list to ENURoot.dic in the latest commit. Actually it's not 16 to be exact because inflections of "fellowship" required a couple of more entries. Honestly I don't know the pronunciations for many of the proper nouns in your list, so others should chip in. I also didn't add "Colombian" as this is the pronunciation recomme

[2020-10-07 21:33] fisher729 commented on #15
mentos = mentoes
gaga = ga gah (debatable)
dele = delly
halle = hally
koulibaly = kulibali
conor = connor
khloe = chloe
khloé = chloe
efron = FRon
puma = pooma (it's an animal)
aniston = anniston
geddes = gheddies
puddin = pudding( without the g)
sza = sizza
stewie = stewy
keke = keykey
dre = dray

The ones you added, except for puddin' are perfect

[2020-10-07 21:58] amirsol81 commented on #15
@fisher729 I just added your words to ENURoot.dic -- thanks for providing the spoken patterns BTW! The only word I haven't added from your 2nd list is "dele". We already have it in ENURoot, with the meaning "A sign indicating that something is to be removed from printed or written matter." It can also be a verb, according to AHD 5. But I'm open to modifying it -- suggestions anyone?
So here's what

[2020-10-07 22:19] fisher729 commented on #15
Hi. Well done. I just realised that the pronunciation of dele is indeed in the dictionary. I've never encountered that word being used other than as a proper noun for a soccer player, but I can understand why you wouldn't change it. I'll comment with other words as soon as I encounter them.

[2020-10-07 22:31] #16 closed

[2020-10-07 22:32] thunderdrop commented on #16
@amirsol81 You may wish to know that you can refer to issue numbers in your commit messages (e.g. Solves #16) and they'll be forever together.

[2020-10-08 06:18] fisher729 commented on #15
There are issues with mentos (you have more than one entry now). Also, tamagotchis doesn't come out right as a plural. Finally, dominica is not pronounced properly.

Some more:
spongebob (spongeBob)
squarepants (squarePants)
dede (didi)
simone (symoane)
Symoné (simoane)
symone (simoane)
kimone (kimoane)
rihanna (reanna)
dana (dayna)
jadah (jayda)
ackee (ackie)
gabon (gabaw - stress on second sylla

[2020-10-08 06:33] fisher729 commented on #15
Hi.

A few other notes:
dre:  dray not drah.
nicolas: debatable, but I think nicalus is the most suitable.

Some more:
dijk: dyke
describedby: possibly main
gameweek: gameWeek
gameplan: gamePlan
casagrande casaGranday)

[2020-10-08 08:09] amirsol81 commented on #15
@fisher729 Thanks for your follow-up messages.
I just updated ENUmain.dic and ENURoot.dic with two commits to incorporate almost all of your suggested words and corrections. Please take a look and let me know if something needs any modifications. Just a few notes:
1. "Mentos", with capital M, was moved to ENUmain as it was added to cover a brand name. The word "mentos", with lowercase "m", is in E

[2020-10-08 08:16] amirsol81 commented on #15
@fisher729 I also modified "sewer" to reflect the more popular usage. Both MS SAPI 5 (high-quality Kortana voice) and OneCore voices also do that. But it can be reverted if requested.

[2020-10-08 15:49] fisher729 commented on #15
Hi.

1. Well, I'm not really sure about this. The Mento, the style of
music, doesn't really have a plural form, and the only other mentos
that I know of is the brand. Perhaps you could shine some light on
this a bit more from your perspective. Nevertheless, I am fine with
it.
2. That is an excellent change, probably the best alternative at this time.
3. The pronunciation you proposed works well, a

[2020-10-08 15:56] fisher729 commented on #15
I fully support it. I was of the view that Eloquence would change the
pronunciation based on the context of the word, but looking back, I've
never seen it happen in all my years of using the synth.

On 10/8/20, amirsol81 <notifications@github.com> wrote:

[2020-10-08 15:58] amirsol81 commented on #15
That's true. Even MS SAPI 5 (Kortana voice) and OneCore voices don't do
that.

On 10/8/2020 7:26 PM, fisher729 wrote:

[2020-10-08 16:04] amirsol81 commented on #15
Well, as for number 6, at least we have the names of both managers in
ENURoot. In fact, I change allegiances whenever Clopp changes his club
as I really like his style and approach <LOL>.

On 10/8/2020 7:20 PM, fisher729 wrote:

[2020-10-08 16:19] fisher729 commented on #15
Yes, that is true, and we also have correct pronunciations for some
key players as well. He is a very inspiring coach.

On 10/8/20, amirsol81 <notifications@github.com> wrote:

[2020-10-08 16:34] amirsol81 commented on #15
Yeah. So feel free to send whatever new word or correction you deem
necessary.

On 10/8/2020 7:50 PM, fisher729 wrote:

[2020-10-09 08:23] fisher729 commented on #15
A few more:
cher (share)
nicolas (nicholas - not sure as it is in root already with a very weird pronunciation)
smarthost (possibly main)
azula (azoola)
aang (ang)

[2020-10-09 12:41] amirsol81 commented on #15
@fisher729 Your suggested words are now in ENURoot, with two commits. I also modified "Nicolas" a bit -- take a look.

[2020-10-09 12:50] fisher729 commented on #15
Hi. Excellent. Thanks

On 10/9/20, amirsol81 <notifications@github.com> wrote:

[2020-10-09 21:56] fisher729 commented on #15
A few more:
guterres: gutiérrez
goto: go to
tamika: tameka
kami: kammy
dewar: duar
geils: ghiles
barnabie: barnaby
shanika: shaneka
icarly: iCarly (possibly main, but I doubt it)
wnba: WNBA (possibly main

[2020-10-10 04:48] amirsol81 commented on #15
@fisher729 Thanks for the suggestions. I just added them to ENURoot and ENUmain with 2 commits.
Just one note: the word "guterres", the UN Secretary, is already in ENURoot. Your suggested pronunciation seems to reflect the original, non-English pronunciation. But what is provided with ENURoot reflects the Anglicized/common pronunciation frequently heard on radio and TV. Another variant of "guterre

[2020-10-10 07:35] fisher729 commented on #15
Hi.

As it relates to the above, you do make a good point. Here are a
couple more for your consideration. Of course, feel free to correct my
pronunciations if they are way off.
lanez = lanes
mundo = m(u)ndo
Telemundo = telim(u)ndo (the same sound as OO in foot)
univision = yunivision
bolognese = bow lo nays (stress on the third syllable)
wijnaldu =  winaldum
naby = nabby
oleksandr = Olek sander (s

[2020-10-10 08:50] amirsol81 commented on #15
@fisher729 Thanks again. Almost all of your suggestions are in ENURoot now as part of the latest commit. A few notes:
1. Most sources, including Oxford, suggest a longer "u" pronunciation for mundo/telemundo.
2. We already have "bolognese" in ENURoot, and the current pronunciation reflects the highly used American variant. Your suggestion reflects the British variant, according to Oxford which doc

[2020-10-10 14:37] ultrasound1372 commented on #15
Glad to see other people suggesting words! I needa pull my dictionary and check this.

[2020-10-10 14:39] ultrasound1372 commented on #15
Re sewer, it seems almost as if it's trying to go based on the root word sew, but the noun that does that verb is seamstress, is there a masc varriant?

[2020-10-10 14:42] fisher729 commented on #15
Hi.

1. Well, here I was working off the spanish pronunciation again, my bad.
2. Noted. Come to think of it, the examples I heard were indeed all
British English.
3. Now looking at it, I agree that it should be left alone.
4. Sounds good enough for me.

Another word to add: singalong. Also, what happened to reprise? I
looked up the definition, and can understand why it was changed, but I
believe t

[2020-10-10 14:56] ultrasound1372 commented on #15
1. I suggest that Shamika be added with the same pronunciation as Shanika but an m instead of an n, of course. I know someone with this name.
2. Is pilates like the workout? Because the common American pronunciation of that is `[.0pX.1lc.0FXz] I thought. @fisher729 can you shed light on this?
3. The added pronunciation of spongebob is incorrect, it would be more like `[.1spHn.0J.2bab].
4. Since we

[2020-10-10 15:01] ultrasound1372 commented on #15
@fisher729 Wang is unfortunately problematic, because it can be and is pronounced Wang, not always wong, even in the name form. And it's a bit beyond us to try and make American Eloquence say anything sounding remotely Chinese. Or east Asian at all for that matter, see Nguyen. It is not win. Although it does sound quite mangled at the moment.

[2020-10-10 15:19] fisher729 commented on #15
1. I wouldn't object to it.
2. That was indeed the final entry that was added to the dictionary,
and it sounds fine to me.
3. Ah yes, something I forgot to mention after my review. Your version
seems to have fixed it.
4, I was  satisfied with the current fix for keke, but having tried
your suggestion, it sounds much better. I vote for kiki being added
with the same pronunciation as well.
5. Your f

[2020-10-10 15:21] fisher729 commented on #15
Understood. When I made the suggestion, I was thinking of the possible
problems it may cause, and since you have confirmed them and added
another layer to the discussion, I agree with you.

On 10/10/20, Colton Hill <notifications@github.com> wrote:

[2020-10-10 17:40] amirsol81 commented on #15
@fisher729 You are right. "Reprise" has been removed in the latest commit. Quite interestingly, Apple's Alex insist on pronouncing the noun form while Siri Female, MS SAPI 5 (Kortana voice) and OneCore voices all prefer the verb form. BTW could you shed light on singalong? It sounds right to me -- maybe something is wrong with its stress patterns.
@ultrasound1372 The word "shamika" is in ENURoot.

[2020-10-10 20:37] fisher729 commented on #15
Hi.

In that case, the G sounds more pronounced than it should be. It is
bearable, though.

On 10/10/20, amirsol81 <notifications@github.com> wrote:

[2020-10-10 20:49] amirsol81 commented on #15
Ah, got it. I just corrected it in the latest commit in ENURoot.

Thanks for such a nice catch!

On 10/11/2020 12:07 AM, fisher729 wrote:

[2020-10-12 02:53] Mohamed00 commented on #15
Just a quick suggestion. I think Basecamp should be in main, not root. The problem with the current fix in the enuroot is that there are certain combinations of phonemes, for example s and k, or s and t, that Eloquence will refuse to add secondary stress to, no matter how you write the SPR. For these words, using emphasis tags improves the pronunciation.
Compare.
Original: `[b1es2kAmp]
New: base `

[2020-10-12 06:47] amirsol81 commented on #15
@Mohamed00 I just moved "basecamp" from ENURoot to ENUmain with 2 entries to also cover its capitalized form. It now has the "base camp" form.

[2020-10-12 07:07] Mohamed00 commented on #15
Try adding the emphasis tag to camp for secondary stress, it's the
backquote symbol and then 0.

On 10/12/2020 2:47 AM, amirsol81 wrote:

[2020-10-12 07:53] amirsol81 commented on #15
@Mohamed00 Done!
Out of curiosity, any chance of correcting the word "coxcombical" which is in ENURoot now? It suffers from the same "s" and "k" adjacency but I couldn't get ENUmain to properly pronounce its first syllable which requires secondary stress.

[2020-10-12 08:03] Mohamed00 commented on #15
Yes, with something like this.

`0 `[k1aks] `1 `[k1amXkxl]

On 10/12/2020 3:54 AM, amirsol81 wrote:

[2020-10-12 08:08] Mohamed00 commented on #15
Same goes for Xcode, the pronunciation could be improved with something
like X `0 code.

On 10/12/2020 3:54 AM, amirsol81 wrote:

[2020-10-12 08:32] amirsol81 commented on #15
Both "xcode" and "coxcombical" were moved to ENUmain using the emphasis tag.

[2020-10-12 17:00] ultrasound1372 commented on #15
Oh, I ended up copying the wrong damn thing for pilates. I meant `[.0pX.1la.0Fiz] @fisher729

[2020-10-12 17:44] fisher729 commented on #15
Sounds much better.

On 10/12/20, Colton Hill <notifications@github.com> wrote:

[2020-10-12 18:26] amirsol81 commented on #15
@ultrasound1372 The word "pilates" was modified in ENURoot.dic: pilates	`[.0pX.1la.0Fiz]

[2020-10-12 20:08] fisher729 commented on #15
Hi.

aguero = agwerro
laing = leng
sagicor = sagic(o)r (o as in oval)
shia = shya
gabi = gabbi
jboard = j-board
buzzr = buzzer (not really sure)
sadiki = s(a)dekie (a as in apple)
shaneil = sh(a)neel (a as in apple, whrymes with camille)
oshane = ohshane (emphasis on the shane)
montego = monteego

[2020-10-12 20:56] amirsol81 commented on #15
@fisher729 Thanks for the suggestions. They are now in ENURoot with the latest commit, with the exception of the word "shia". If it refers to a branch of Islam, the Eloquence pronunciation is recommended by many US English dictionaries, and that's also what I hear a lot in the news.

[2020-10-12 20:58] fisher729 commented on #15
Ok. That is understandable. Thanks again.

On 10/12/20, amirsol81 <notifications@github.com> wrote:

[2020-10-14 18:11] fisher729 commented on #15
lidar = lied(a)r (a as in bar)
juventus = yuventus
terrelonge = terrilong
oshin = ocean
hylton = hilton

[2020-10-14 18:45] amirsol81 commented on #15
@fisher729 All 5 words were added to ENURoot as part of the latest commit. Thanks again.

[2020-10-15 09:20] fisher729 commented on #15
Hi. Is there any way 'ew' and its variants can be accommodated?

[2020-10-15 09:31] amirsol81 commented on #15
@fisher729 Could you provide some examples regarding "ew"?

[2020-10-15 18:39] ultrasound1372 commented on #15
@fisher729 are you referring to the exclamation when something is grose? Because I'm not even sure there's a standard spelling for that. Also it would have to not break the sirname Ewing.

[2020-10-15 22:12] fisher729 commented on #15
Yes, but I see what you mean. Some persons spell it with three Ws,
some four...and so on. So it would not be practical.

On 10/15/20, Colton Hill <notifications@github.com> wrote:

[2020-10-16 08:48] fisher729 commented on #15
Benfica = benfeeka
ovaries = ovarys

The following words are pronounced quite weirdly, and I crave opinions: pristine, entourage, mercantilism.

[2020-10-16 09:27] amirsol81 commented on #15
@fisher729 I just added "benfica" to ENURoot with the latest commit.

A few notes:

1. The pronunciation of "ovaries" seems acceptable -- at least based on
many American English dictionaries. It's also similar to ovarian.

2. The word "pristine", with the stress on the first syllable, is the
recommended American English pronunciation offered by almost all
dictionaries and quite frequently heard he

[2020-10-16 13:58] fisher729 commented on #15
Hi. A few more:
sagal = suh-gaal (stress the second syllable)
segel = seh-gaal (stress the second syllable)
Kaley = kayley
rida = ryda (not sure how it would affect other words)

[2020-10-16 17:27] amirsol81 commented on #15
@fisher729 Thanks. I just added "kaley" and "rida", along with 4 more
words to ENURoot.

A couple of notes:

1. We already have "sagal" in ENURoot to cover "Peter Sagal", NPR's host
of Wait Wait... Don't Tell me! Yes, that exclamation mark is part of the
program name <smile>.

2. We don't have "segel" in ENURoot/ENUmain, but I know a TV
personality, Jason Segel, whose surname is pronounced like "s

[2020-10-16 19:52] fisher729 commented on #15
Hi. Looking back, my apologies, the correct pronunciation would be
seegle. Also, there is Steven, but his last name is Seagal, with the
same pronunciation as Segel (seegle).

What about Katey Sagal? :(

On 10/16/20, amirsol81 <notifications@github.com> wrote:

[2020-10-16 19:56] fisher729 commented on #15
Another one for you, since we have Trebek, why not Sajak (sayjak)?

On 10/16/20, amirsol81 <notifications@github.com> wrote:

[2020-10-16 20:02] fisher729 commented on #15
Sorry for splitting the emails, but what about Bellevue (bellview)? I
know I've been proposing a lot of names, but I try to bring across
popular ones.

On 10/16/20, amirsol81 <notifications@github.com> wrote:

[2020-10-17 00:54] fisher729 commented on #15
Opensouls = open souls
caleb = cayleb
batchcommand = batch command (possibly main, not sure, and this goes for most of the entries below)
nethome = net home
sysadmin = siss admin
htaccess = ht access
getopts = get opts
printf = print f
histfile = hist file
signin = sign in

[2020-10-17 04:54] amirsol81 commented on #15
@fisher729 Thanks. All were added to ENUmain with the exception of
"caleb" which was added to ENURoot.

On 10/17/2020 4:24 AM, fisher729 wrote:

[2020-10-19 23:15] fisher729 commented on #15
jos = joss (butler)
digicel = digicell (stress on the digi)
kaniel = kaneel
jimenez = him-in-ez
offseason = off season
Chevon = Chevaun

[2020-10-20 07:08] fisher729 commented on #15
Hi. The pronounciation for Jimenez sounds fine. Two more entries to consider:
mandel = mandell
zlatan = zlattahn
chevelle = shevelle

[2020-10-20 07:24] amirsol81 commented on #15
@fisher729 It's 3 not 2 <smile>. All were added to ENURoot, but I used the following pattern for "zlatan" as it is more frequently heard: `[.1zlA.2tAn]

[2020-10-20 15:36] fisher729 commented on #15
Right. A few more:

syfy = scifi
poppin = popin (also goes for poppins)
beetlejuice = beatle juice

[2020-10-21 04:32] amirsol81 commented on #15
@fisher729 All were added to ENURoot as part of the latest commit along with a couple of other words.

[2020-10-21 08:59] fisher729 commented on #15
miley = mily
friendzone = friend zone

[2020-10-21 09:32] amirsol81 commented on #15
@fisher729 Both were added to ENURoot.

[2020-10-23 05:41] fisher729 commented on #15
Hi. The following entries are similar to poppin, so I thought I'd recommend them for addition. The suggested pronunciation for these words is correct, without the g at the end. The p is obviously too strong with these words.
steppin = stepping
trippin = tripping
drippin = dripping
stoppin = stopping

[2020-10-23 13:55] amirsol81 commented on #15
@fisher729 Thanks. All were added to ENURoot as part of the latest commit, along with some other words.

[2020-10-23 22:09] fisher729 commented on #15
How about moreso = more so?

[2020-10-24 05:27] amirsol81 commented on #15
@fisher729 It was added to ENURoot with the latest commit along with
some other words. Thanks.

[2020-11-01 16:55] amirsol81 commented on #15
@ultrasound1372 Please kindly post the dictionary files for November. Thanks.

[2020-11-01 17:25] ultrasound1372 commented on #15
@amirsol81 can I put louis back in first?

[2020-11-01 17:29] amirsol81 commented on #15
@ultrasound1372 May I know which word you are talking about?
BTW I just added DXOMARK/dxomark to ENUmain in case you have grabbed the files a bit earlier.

[2020-11-01 19:55] ultrasound1372 commented on #15
Closing this since we've had a nice full thread, releasing now.

[2020-11-01 19:55] #15 closed

[2020-11-01 19:59] ultrasound1372 opened #17 "2020-12 - Roots"
See readme for contributing guidelines.

[2020-12-01 17:02] amirsol81 commented on #17
@ultrasound1372 Would you please release the monthly update?

[2020-12-02 16:28] ultrasound1372 commented on #17
What about golem? I was under the impression it was `[.1ga.0lxm], (gollom), not the [o] phoneme.

[2020-12-02 17:47] amirsol81 commented on #17
@ultrasound1372 Actually the [o] phoneme is the correct and accepted form. Merriam-Webster also offers an [oi] phoneme variant, but I haven't seen the `[.1ga.0lxm] being listed in any dictionary. Siri and MS Sapi 5/OneCore voices also pronounce it using the [o] phoneme.

[2021-01-02 04:23] #17 closed

[2021-01-02 04:23] ultrasound1372 opened #18 "2021-03 - Roots"
See readme for contributing guidelines.

[2021-02-02 06:31] amirsol81 commented on #18
@ultrasound1372 Please kindly release the monthly update.

[2021-03-10 06:54] amirsol81 commented on #18
@ultrasound1372
1. "Vega" was removed from ENURoot to have it pronounced the way you proposed -- which is the default. It was added to cover the brightest star in the constellation Lyra, but it can also be pronounced as .1ve.0gx.
2. The case of "serrated" is interesting. As an adjective, the word "serrate" is chiefly pronounced as `[.1se.2ret]. But the `[.0sx.1ret] form is also acceptable. However

[2021-03-23 16:50] ultrasound1372 commented on #18
I propose caldera (`[.2kcl.1der.0x]), a very large crator left behind from a volcanic erruption. I've heard American geologists pronounce it like that, but you can check if you like.

[2021-03-23 18:12] amirsol81 commented on #18
@ultrasound1372 Eloquence's original pronunciation for caldera is listed first in all American English dictionaries, and your proposed pronunciation is suggested as an alternative. But I'll happily alter it if you think this is the preferred pronunciation.

[2021-03-24 17:14] ultrasound1372 commented on #18
If we have Fourier and Gauss, we should have Euler.

[2021-03-24 17:28] amirsol81 commented on #18
@ultrasound1372 Done!

[2021-04-03 15:05] amirsol81 commented on #18
@ultrasound1372 Could you please release this month's dictionary updates?

[2021-04-04 13:30] ultrasound1372 commented on #18
Oh sorry, I thought I did.

[2021-04-04 13:36] ultrasound1372 commented on #18
Closing because of the new month and there was activity here.

[2021-04-04 13:36] #18 closed

[2021-04-04 13:37] ultrasound1372 opened #19 "2021-04 - root"
See readme for contributing guidelines.

[2021-04-13 21:41] ultrasound1372 commented on #19
Why is Xavier being pronounced like that? Isn't it more like `[.0Xg.1ze.0vy.0R]? @amirsol81

[2021-04-14 03:05] amirsol81 commented on #19
@ultrasound1372 It's an attempt to mimic its Spanish counterpart, Javier. But you are right, I re-checked it with several sources and it's better to restore the pronunciation to its original. It will be done in the next commit.

[2021-04-14 03:51] amirsol81 commented on #19
@ultrasound1372 @thunderdrop Any chance of revisiting the vexing "Louis" issue and reverting to its original s-sounding pronunciation? I was just reading the following page and found the non-s pronunciation rather odd: https://www.npr.org/2021/04/13/986731926/henry-louis-gates-jr-on-the-black-church-and-his-own-bargain-with-jesus
Even the hostess uses the s-sounding pronunciation. It is also prefe

[2021-04-23 20:57] ultrasound1372 commented on #19
I suppose, depending on what @thunderdrop thinks. Though I'd probably replace it with the same SPR for lewis, the way that it does it natively puts just a bit too much emphasis on the `[I] and just sounds off.

[2021-05-01 07:59] amirsol81 commented on #19
@ultrasound1372 Not that it's late, but would you please release this month's update?

[2021-05-02 02:51] #19 closed

[2021-05-02 02:52] ultrasound1372 opened #20 "2023-01 - root"
See readme for contributing guidelines.

[2021-06-02 04:35] amirsol81 commented on #20
@ultrasound1372 Please kindly release this month's updates.

[2021-08-01 06:03] amirsol81 commented on #20
@ultrasound1372 @thunderdrop Please kindly make the monthly release available.

[2021-09-01 15:46] amirsol81 commented on #20
@ultrasound1372 @thunderdrop Please kindly make this month's release available.

[2021-10-01 12:55] amirsol81 commented on #20
@ultrasound1372 @thunderdrop Please kindly make this month's release available.

[2021-11-03 21:42] amirsol81 commented on #20
@ultrasound1372 @thunderdrop Please release this month's update. Thanks.

[2021-11-05 04:31] amirsol81 commented on #20
@ultrasound1372 @thunderdrop Folks, any chance of making this month's release available? We're moving well into November.

[2022-01-06 06:42] amirsol81 commented on #20
@ultrasound1372 @thunderdrop Please make this month's release available. Thanks.

[2022-06-02 11:43] amirsol81 commented on #20
@ultrasound1372 @thunderdrop It seems to me that "Ivan" is handled properly by Eloquence as `[.1Y.0vXn] and there's no need to alter it.
Both Ivan III Vasilievich and Ivan IV Vasilievich represent Eloquence's proper pronunciation, and almost all dictionaries reflect this in their pronunciations. For instance, Oxford displays the following 2 entries for Ivan:
Ivan 1:
PROPER NOUN
Pronunciation: /ˈīv

[2022-10-29 15:20] robin24 opened #21 "Missing license information for the project"
Hello,

I'm working on a project in which I may want to incorporate these wonderful dictionaries, however I am unable to find any info regarding the license under which the speech dictionaries are being provided (Creative Commons or similar).

Is there any chance to get some clarity on this, or to maybe have a License.md file included in the repo for better clarity?
Many thanks!

Cheers,
Robin

[2022-10-29 15:59] amirsol81 commented on #21
CC @ultrasound1372 @thunderdrop Would you please take a look?

[2022-10-29 23:15] thunderdrop commented on #21
Hi Robin,

The project is presently unlicensed due to the commercial complexities of IBMTTS; we weren't even sure if we could or should license it. If pressed, I would probably say it's in the public domain. Thanks for bringing this to our attention, though, I see the value in being explicit here. So, it's community discussion time!

@ultrasound1372 and I have privately discussed some licensing op

[2022-10-30 09:48] amirsol81 commented on #21
@thunderdrop Thanks for the explanation. I also think that I don't hold any copyright to this dictionary work, so feel free to do whatever is appropriate.

[2022-10-30 17:29] robin24 commented on #21
Hey all,

I just wanted to thank you for the super fast response and your thoughtful considerations, happy to see my inquiry has sparked such a productive discussion 👍.

Personally speaking I'd love to see this officially getting a Creative Commons license, as I think it allows for the most freedom and flexibility both for those of you maintaining the project and people like me wanting to use the

[2022-11-01 16:26] amirsol81 commented on #21
@thunderdrop @ultrasound1372 Now that November's release of the dictionaries is to be made available shortly, any chance of taking care of the Creative Commons license? I also suggest removing the "Archived" folder altogether as it has been totally incorporated into the project.

[2022-11-02 00:08] #21 closed